
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Panel de Administración</title>
<link rel="stylesheet" th:href="@{/css/boostrap/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/boostrap/bootstrap-icons.css}">
<link rel="stylesheet" th:href="@{/css/admin-dashboard.css}">
<link rel="stylesheet" th:href="@{/css/tables-forms.css}">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.13.8/css/jquery.dataTables.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>

<script th:src="@{/js/sidebar.js}"></script>
<script th:src="@{/js/consultarUsuario.js}"></script>

</head>
<body>
	<div th:insert="~{admin/fragmentos/sidebar :: sidebar}"></div>

	<div class="content" id="content">

		<div th:insert="~{admin/fragmentos/navbar :: navbar}"></div>

		<div class="content-wrapper">
			<div class="list-header">
				<h2>Listado de Usuarios</h2>
				<button type="button" class="btn btn-custom">Añadir Nuevo
					Usuario</button>
			</div>

			<div class="card mb-4">
				<div class="card-header text-center">
					<button class="btn btn-outline-secondary" type="button"
						data-bs-toggle="collapse" data-bs-target="#filtroUsuarios"
						aria-expanded="false" aria-controls="filtroUsuarios">
						Mostrar/Ocultar Filtros</button>
				</div>
				<div class="collapse" id="filtroUsuarios">
					<div class="card-body">
						<form id="filtroUsuariosForm">
							<div class="row g-3">
								<div class="col-md-6">
									<label for="filtroNombreUsuario" class="form-label">Filtrar
										por Nombre</label> <input type="text" class="form-control"
										id="filtroNombreUsuario" name="nombre"
										placeholder="Nombre del Usuario">
								</div>
								<div class="col-md-6">
									<label for="filtroEmailUsuario" class="form-label">Filtrar
										por Email</label> <input type="email" class="form-control"
										id="filtroEmailUsuario" name="email"
										placeholder="Email del Usuario">
								</div>
								<div class="col-md-6">
									<label for="filtroRolUsuario" class="form-label">Filtrar
										por Rol</label> <select id="filtroRolUsuario" class="form-select"
										name="rol">
										<option value="">Todos los Roles</option>
										<option value="ADMIN">Administrador</option>
										<option value="USER">Usuario</option>
									</select>
								</div>
								<div class="col-md-6">
									<label for="filtroIdUsuario" class="form-label">Filtrar
										por ID</label> <input type="number" class="form-control"
										id="filtroIdUsuario" name="id" placeholder="ID del Usuario">
								</div>
							</div>
						<div class="mt-4 text-center d-flex justify-content-center flex-row-reverse">
  <button type="button" id="aplicarFiltrosBtn" class="btn btn-custom w-50 me-2">Aplicar Filtros</button>
  <button type="button" id="limpiarFiltrosBtn" class="btn btn-custom w-50">Limpiar Filtros</button>
</div>
						</form>
					</div>
				</div>
			</div>

			<table id="tablaUsuarios" class="table table-striped text-center">
				<thead>
			
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Email</th>
						<th>Rol</th>
						<th>Editar</th>						
						<th>Borrar</th>						
					</tr>
				</thead>

				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	<div th:replace="~{admin/fragmentos/footer :: footer}"></div>
</body>
</html>