<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">

<!-- Enlace al CSS personalizado -->
<link rel="stylesheet" href="./css/style.login.css">
</head>
<body>
	<div
		class="container d-flex flex-column align-items-center justify-content-center vh-100">

		<!-- Logo responsivo -->
		<div class="logo-container">
			<img src="../assets/img/logo.png" alt="Logo" class="img-fluid">
		</div>

		<!-- Formulario responsivo -->
		<div
			class="container-sm bg-white bg-opacity-50 p-4 rounded col-10 col-md-4">
			<h2 class="text-center">Iniciar sesión</h2>
			<form method="post" action="/login">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<input type="text" id="username" name="username"
					class="form-control mb-2" placeholder="Tu correo electrónico">
				<input type="password" id="password" name="password"
					class="form-control mb-2" placeholder="Tu contraseña">
				<button type="submit" class="btn btn-custom w-100">Iniciar
					sesión</button>
			</form>
			<a href="#" class="forgot-password d-block text-center mt-2">¿Olvidaste
				tu contraseña?</a>
		</div>
	</div>

	<!-- Bootstrap JS (opcional, si usas componentes interactivos) -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
